html {
   background-color: #111111;
}
@font-face{ font-family:Impact; src:url("Assets/impact.ttf") format('truetype'); }
@font-face{ font-family:'Soccer'; src:url("Assets/soccer.otf") format('truetype'); }
@font-face{ font-family:'Pricedown'; src:url("Assets/pricedownbl.ttf") format('truetype'); }

*{ box-sizing:border-box; margin:0; padding:0; }
body{ font-family: Arial, Helvetica, sans-serif; }

.header, .ContenidoFooter { min-width:100vw; display: flex; justify-content: center; align-items: center;}
.header { background: none; } 

.textos-header{
   font-family:'Soccer';
   color: #ffffff;
}
body
{
   font-family: Arial, Helvetica, sans-serif;
   color: #ffffff;
   margin: 0;
   padding: 0;
   background: #111111;  
   background: -webkit-linear-gradient(to right, #111111, #242424, #111111); 
   background: linear-gradient(to right, #111111, #242424, #111111); 
}
.titulo {
   font-family:'Soccer';
   color: #ffffff;
   font-size: 1.5rem;
   font-weight: bold;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.133);
   z-index: 1; 
}
.ContenidoFooter{
   min-width: 100vw;
   padding: 0.5%;
   background: #111111;
   background: -webkit-linear-gradient(to right, #111111, #242424, #111111);  
   background: linear-gradient(to right, #111111, #242424, #111111); 
}
nav {
   display: flex; 
   justify-content: center; 
   align-items: center; 
   padding: 10px; 
}
nav a {
   color:var(--accent-text);
    text-decoration: none; 
    margin: 0 15px; 
    font-size: 18px;
    font-weight: 700; 
}

nav a:hover {
   color: orange; 
   text-decoration: underline;
}
.textos-header{
   display: flex;
   justify-content: center;
   align-items: center;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* --------------------------------------------------------Index----------------------------------------------------------------- */
.PrimerCuadro{
   display: flex;
   justify-content: center;
}
.ImagenPerfil{
   display: flex;
   width: 80%;
   height: 80%;
   outline: #313131 solid 5px;
   border-radius: 3px;
   overflow: hidden;
   margin: 20px;
}
.ImagenPerfil img{
   height: 100%;
   width: 100%;
}
.ContenidoQuienSoy h1 
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   margin-bottom: 1px;
}
.TextosPrimerCuadro{
   display: flex;
   flex-direction: column ;
}
.TextosQuienSoy{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 20px;
   font-family: Arial, sans-serif;
}
.TextoPerfil{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 20px;
}
.SeccionTextos-Gif{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.Programas{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 20px;
   width: 42%;
   height: auto;
   padding: 0;
}
.Programas img{
   height: 100%;
   width: 100%;
   object-fit: contain;
   justify-content: center;
   align-items: center;
   justify-content: center;
   align-items: center;
}
.SeccionBajaPrimerCuadro{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap: 20px;
}
.TablaLenguajes{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   border-collapse: collapse;    
}
.TablaLenguajes th, .TablaLenguajes td {
   border: 3px solid #313131;
   padding: 5px;
   background-color: #242424;
}
.OtrasActividades{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   border-collapse: collapse;
}
.OtrasActividades th, .OtrasActividades td {
   border: 3px solid #313131;
   padding: 5px;
   background-color: #242424;
}
.OtrasActividades{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
}
.SegundoCuadro{
   margin: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   border-collapse: collapse;
}
.Educacion{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 20px;
}
.Cursos{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 20px;
}
.TablaCursos{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   border-collapse: collapse;
}
.TablaCursos th, .TablaCursos td {
   border: 3px solid #313131;
   padding: 5px;
   background-color: #242424;
}
/* --------------------------------------------------------Proyectos----------------------------------------------------------------- */
.Intro{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding-top: 20px;
}
.Rigs{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 20px;
}
.carousel {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px;
 }
 .texto {
   font-family: Arial, sans-serif;
   color: #fff;
   text-align: center;
   margin-bottom: 10px;
   width: 600px;
 }

.carousel-container {
   position: relative;
   width: 640px;
   height: 360px;
   overflow: hidden;
   border: 2px solid #333;
   border-radius: 10px;
 }
 .imagenesArte{
   display: flex;
   transition: transform 0.5s ease-in-out;
   flex-shrink: 0;
 }
 .imagenesArte img{
   width: 640px;
   height: 360px;
   object-fit: cover;
 }
 .carousel-button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background: rgba(0, 0, 0, .5);
   color: #fff;
   border: none;
   padding: 10px;
   border-radius: 50%;
   cursor: pointer;
   z-index: 2;
 }

 .carousel-button:hover {
   background-color: rgba(0, 0, 0, 0.8);
 }

 .carousel-button.prev {
   left: 10px;
 }

 .carousel-button.next {
   right: 10px;
 }


 /* --------------------------------------------------------Videojuegos-------------------------------------------------------------- */
 
 
.videojuegos{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh; 
   min-width: 100vw;;
   background: #111111;
   background: -webkit-linear-gradient(to right, #111111, #242424, #111111);  
   background: linear-gradient(to right, #111111, #242424, #111111);
   font-family: Arial, sans-serif;
   overflow: hidden; 
}
.game-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   min-width: 80vw; 
}
section  {
   display: none;  
}
.game-box {
   flex: 1;
   height: 75vh;
   background-size: cover;
   background-position: center;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0.5vw;
   overflow: hidden;
   cursor: pointer;
   transition: transform 0.3s ease;
}
.game-box:hover {
   transform: scale(1.1);
   animation: none; 
}
#panel-juego {
  position: fixed;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: rgba(23, 23, 23, 0.937);
  display: none;
  flex-direction: row;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1000;
}
#panel-juego button {
  color: #fff;
}
.texto-dinamico{
  width:40%;
  color:#fff;
  display:flex;
  flex-direction:column;
  justify-content:center;
  gap:1rem;
  overflow-y:auto;
  text-align:center;
  padding:1rem;
}

.texto-dinamico h2{
   margin-top: 20px;
}

.panel-content {
  display: flex;
  width: 100%;
  gap: 20px;
}

.carousel-dinamico {
  width: 60%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #333;
  border-radius: 10px;
  gap: 10px;
}
.imagenesArteCarouselDin {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.carousel-dinamico img, .carousel-dinamico video {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.texto-dinamico {
  width: 40%;
  overflow-y: auto;
}

.carousel-dinamico button {
  position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background-color: rgba(0, 0, 0, 0.5);
   color: #fff;
   border: none;
   padding: 10px;
   cursor: pointer;
   border-radius: 50%;
}
.cerrar-button{
   position: absolute;
   top: 10px;
   right: 20px;
   font-size: 24px;
   background: none;
   border: none;
   cursor: pointer;
}

/* --------------------------------------------------------VR Projects-------------------------------------------------------------- */

.VRVideos{
   justify-content: center;
   align-items: center;
   display: flex;
   padding: 20px;
}
   
@keyframes playCanon {
   0% { background-image: url('Assets/Captura de pantalla 2024-06-13 192326.png'); }
   33% { background-image: url('Assets/Captura de pantalla 2024-06-13 192400.png'); }
   66% { background-image: url('Assets/Captura de pantalla 2024-06-13 192420.png'); }
   100% { background-image: url('Assets/Captura de pantalla 2024-06-13 192326.png'); } 
}
@keyframes playEarth {
   0% { background-image: url('Assets/Earth1.png'); }
   25% { background-image: url('Assets/Earth2.png'); }
   50% { background-image: url('Assets/Earth3.png'); }
   75% { background-image: url('Assets/Earth4.png'); }
   100% { background-image: url('Assets/Earth1.png'); } 
}
@keyframes playFP {
   0% { background-image: url('Assets/CAPTURA-01.png'); }
   20% { background-image: url('Assets/CAPTURA-02.png'); }
   40% { background-image: url('Assets/CAPTURA-03.png'); }
   60% { background-image: url('Assets/CAPTURA-04.png'); }
   80% { background-image: url('Assets/CAPTURA-05.png'); }
   100% { background-image: url('Assets/CAPTURA-01.png'); } 
}
@keyframes playOrb {
   0% { background-image: url('Assets/Cap1Orbits.png'); }
   33% { background-image: url('Assets/Cap2Orbits.png'); }
   66% { background-image: url('Assets/Cap3Orbits.png'); }
   100% { background-image: url('Assets/Cap1Orbits.png'); } 
}
@keyframes playTP {
   0% { background-image: url('Assets/TempoClash0.jpg'); }
   25% { background-image: url('Assets/TempoClash1.jpg'); }
   50% { background-image: url('Assets/TempoClash2.jpg'); }
   75% { background-image: url('Assets/TempoClash3.jpg'); } 
   100% { background-image: url('Assets/TempoClash0.jpg'); } 
   25% { background-image: url('Assets/HackNSlash2.png'); }
   50% { background-image: url('Assets/HackNSlash3.png'); }
   75% { background-image: url('Assets/HackNSlash4.png'); } 
   100% { background-image: url('Assets/HackNSlash1.png'); } 
}
#CanonMatacabras {
   background-image: url('Assets/Captura de pantalla 2024-06-13 192400.png');
}

#CanonMatacabras:hover {
   transform: scale(1.1);
   animation: playCanon 3s steps(1) infinite; 
}

#Earths-Twilight{
   background-image: url('Assets/Earth4.png');
}

#Earths-Twilight:hover {
   transform: scale(1.1);
   animation: playEarth 3s steps(1) infinite; 
}

#FruitPunch {
   background-image: url('Assets/CAPTURA-01.png');
}

#FruitPunch:hover {
   transform: scale(1.1);
   animation: playFP 3s steps(1) infinite; 
}

#Orbits {
   background-image: url('Assets/Cap1Orbits.png');
}

#Orbits:hover {
   transform: scale(1.1);
   animation: playOrb 3s steps(1) infinite; 
}
#TempoClash {
   background-image: url('Assets/TempoClash3.jpg');
}

#TempoClash:hover {
   transform: scale(1.1);
   animation: playTP 3s steps(1) infinite; 
}
#HackNSlash {
   background-image: url('Assets/HackNSlash2.png');
}

#HackNSlash:hover {
   transform: scale(1.1);
   animation: playHNS 3s steps(1) infinite; 
}

:root{
  --bg1: #111111;
  --accent: #a307ca;
  --accent-dark: #434343;
  --accent-text: yellow;
  --panel-bg: rgba(23,23,23,0.937);
  --radius: 10px;
  --carousel-w: 400px;
  --carousel-h: 100%;
}

.gradient-bg{
  background: linear-gradient(to right, var(--bg1), var(--accent), var(--bg1));
  background: -webkit-linear-gradient(to right, var(--bg1), var(--accent), var(--bg1));
}